.col-sm-3 > label-150 {
    font-size: 150%;
}
/*Colorful Gradient*/
.colorful {
  background:
    -webkit-linear-gradient(33deg, hsla(328.9, 100%, 86.12%, 1) 0%, hsla(328.9, 100%, 86.12%, 0) 65%),
    -webkit-linear-gradient(65deg, hsla(0, 0%, 100%, 1) 10%, hsla(0, 0%, 100%, 0) 80%),
    -webkit-linear-gradient(135deg, hsla(200.53, 80.51%, 53.73%, 1) 15%, hsla(200.53, 80.51%, 53.73%, 0) 80%),
    -webkit-linear-gradient(205deg, hsla(293.21, 100%, 80.12%, 1) 100%, hsla(293.21, 100%, 80.12%, 0) 70%);
  background:
    linear-gradient(57deg, hsla(328.9, 100%, 86.12%, 1) 0%, hsla(328.9, 100%, 86.12%, 0) 65%),
    linear-gradient(25deg, hsla(0, 0%, 100%, 1) 10%, hsla(0, 0%, 100%, 0) 80%),
    linear-gradient(315deg, hsla(200.53, 80.51%, 53.73%, 1) 15%, hsla(200.53, 80.51%, 53.73%, 0) 80%),
    linear-gradient(245deg, hsla(293.21, 100%, 80.12%, 1) 100%, hsla(293.21, 100%, 80.12%, 0) 70%);
  }
/*End of Colorful Gradient*/
.label-150 {
    font-size: 100%;
}
.footer-social-info {
	text-align: center;
}
.ind-project-box {
	text-align: center;
}
.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 10px;
}
.progress-bar-noob {
	background-color: crimson;
}
.progress-bar-learning {
	background-color: darkorange;
}
.progress-bar-intermediate {
	background-color: gold;
}
.progress-bar-confident {
	background-color: seagreen;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 100%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    float: left;
    margin-right: 1em;
}
.label-default {
    background-color: #777;
}
.single-welcome-slide .main-bg-img {
    height: calc(75% - 100px);
    border-radius: 300px;
    bottom: 75px;
    }
@media only screen and (max-width: 767px) {
.single-welcome-slide .main-bg-img {
    height: calc(90% - 70px);
    border-radius: 95px;
    width: 85%;
    bottom: 0px;
	}
#about-us-content {
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
	}
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
.single-welcome-slide .main-bg-img {
    height: calc(90% - 70px);
    bottom: 0px;
    width: 60%
	}
#about-us-content {
    flex: 0 0 100%;
    max-width: 100%;
	}
}
.portrait-view {
    border-radius: 50%;
    border-style: solid;
    border-width: thin;
    border-color: #2AA7E8;
    padding: 3px;
}
#about-us-content {
    text-align: center;
}
.skills-section {
	padding: 30px;
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-top: 3%;
}
h2.about-me {
    margin-top: 15px;
}
.welcome-text h5 {
    color: #4e4e4e;
    }
.sml-btn {
    min-width: 50%;
}
[class*="ico"]:hover {
	color: #232323;
}
.project-thumbnail {
	border: solid thin #2AA7E8;
}
@media (min-width: 1200px) {
.jot-form-contact {
    -ms-flex: 0 0 41.666667%;
    flex: 1 0 41.666667%;
    max-width: 75%;
}
}
.label-warning {
    background-color: red;
}

div.post-details-text {
    border-color: #343a40;
    border-style: solid;
    border-width: thin;
    padding: 20px;
    margin: -5px;
}


