
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}


<!DOCTYPE html>
<html lang="en">

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-141775720-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-141775720-1');
</script>
<!-- End Global site tag (gtag.js) - Google Analytics -->

  <meta charset="UTF-8">
  <meta name="description" content="{{ meta_description }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>{% block title %}{% endblock %} | Reuben J. Platon</title>

  <!-- Favicon -->
  <link rel="icon" href="static/img/core-img/favicon.ico">

  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="static/css/custom.css">
</head>

<body>
  <!-- Preloader -->
  <div id="preloader">
    <div class="wrapper">
      <div class="cssload-loader"></div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area">
    <!-- Main Header Start -->
    <div class="main-header-area">
      <div class="classy-nav-container breakpoint-off">
        <!-- Classy Menu -->
        <nav class="classy-navbar justify-content-between" id="monaNav">

          <!-- Background Curve -->
          <div class="bg-curve" style="background-image: url(static/img/core-img/curve.png);"></div>

          <!-- Logo -->
          <a class="nav-brand" href="index.html"><img src="static/img/core-img/logo.png" alt=""></a>

          <!-- Navbar Toggler -->
          <div class="classy-navbar-toggler">
            <span class="navbarToggler"><span></span><span></span><span></span></span>
          </div>

          <!-- Menu -->
          <div class="classy-menu">
            <!-- Menu Close Button -->
            <div class="classycloseIcon">
              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>

            <!-- Nav Start -->
            {% block content %}
            {% endblock %}
            <!-- Nav End -->

          </div>
        </nav>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

{{ content|safe }}
{% block repo_list %}
{% endblock %}

<!-- ***** Footer Area Start ***** -->
  <footer class="footer-area section-padding-80-0">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-12 col-lg-4 col-xl-3">
          <div class="single-footer-widget mb-60">
          </div>
        </div>




        <!-- Single Footer Widget -->
        <div class="col-12 col-lg-4 col-xl-3">
          <div class="single-footer-widget mb-60">

            <!-- Social Info -->
            <div class="footer-social-info">
              <a href="https://www.linkedin.com/in/reubenplaton/" class="linkedin" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
              <a href="https://twitter.com/rjplaton" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://github.com/rjplaton" class="github" data-toggle="tooltip" data-placement="top" title="GitHub"><i class="fa fa-github"></i></a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </footer>
  <!-- ***** Footer Area End ***** -->

  <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="static/js/jquery.min.js"></script>
  <!-- Bootstrap js -->
  <script src="static/js/bootstrap.min.js"></script>
  <!-- All js -->
  <script src="static/js/mona.bundle.js"></script>
  <!-- Active js -->
  <script src="static/js/default-assets/active.js"></script>

</body>

</html>