{% extends 'base.html' %}

{% block title %}
Personal Blog
{% endblock %}


{% block content %}
            <div class="classynav">
              <ul id="nav">
                        <li><a href="./index.html">Home</a></li> 
                        <li><a href="./projects.html">Projects</a></li>
                        <li class="current-item"><a href="./blog.html">Blog</a></li>
                        <li><a href="./contact.html">Contact</a></li>      
              </ul>
            </div>
{% endblock %}

{% block blog_content %}



  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area">
    <div class="container h-100">
      <div class="row h-100 align-items-end">
        <div class="col-12">
          <div class="breadcumb--con">
            <h2 class="title">Blog</h2>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Blog</li>
                &nbsp;&nbsp;<li><span class="label label-warning">No actual content yet.</span></li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ***** Blog Area Start ***** -->
  <section class="mona-blog-area mb-50 section-padding-80-0">
    <div class="container">
      <div class="row">

        <!-- Single Blog Post -->
        <div class="col-12 col-lg-8">
          <div class="row">

            <!-- Single Blog Post -->
            <div class="col-12">
              <div class="single-blog-post featured-post mb-30">
                <div class="post-thumbnail">
                  <a href="./blog/1.html"><img src="static/img/bg-img/x-image-long.jpg" alt=""></a>
                </div>
                <div class="post-content">
                  <div>
                    <a href="./blog/1.html" class="post-title">Officially a student at Kickstart Coding</a>
                    <span class="post-date">03 June 2019</span>
                  </div>
                </div>
              </div>
            </div>

            <!-- Single Blog Post -->
            <div class="col-12 col-sm-6 col-lg-6">
              <div class="single-blog-post mb-30">
                <div class="post-thumbnail">
                  <a href="./blog/2.html"><img src="static/img/bg-img/x-image-square.jpg" alt=""></a>
                </div>
                <div class="post-content">
                  <a href="./blog/2.html" class="post-title">Lorem ipsum 2</a>
                  <span class="post-date">13 June 2019</span>
                </div>
              </div>
            </div>

            <!-- Single Blog Post -->
            <div class="col-12 col-sm-6 col-lg-6">
              <div class="single-blog-post mb-30">
                <div class="post-thumbnail">
                  <a href="./blog/3.html"><img src="static/img/bg-img/x-image-square.jpg" alt=""></a>
                </div>
                <div class="post-content">
                  <a href="./blog/3.html" class="post-title">Lorem ipsum dolor sit 3</a>
                  <span class="post-date">23 June 2019</span>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ***** Blog Area End ***** -->



{% endblock %}