{% extends 'base.html' %}

{% block title %}
Contact Me
{% endblock %}


{% block content %}
            <div class="classynav">
              <ul id="nav">
                        <li><a href="./index.html">Home</a></li> 
                        <li><a href="./projects.html">Projects</a></li>
                        <li><a href="./repos.html">Github Repos</a></li>
                        <li><a href="./blog.html">Blog</a></li>
                        <li class="current-item"><a href="./contact.html">Contact</a></li>      
              </ul>
            </div>
{% endblock %}