{% extends 'base.html' %}

{% block title %}
Contact Me
{% endblock %}


{% block content %}
            <div class="classynav">
              <ul id="nav">
                        <li><a href="./index.html">Home</a></li> 
                        <li><a href="./projects.html">Projects</a></li>
                        <li><a href="./blog.html">Blog</a></li>
                        <li class="current-item"><a href="./contact.html">Contact</a></li>      
              </ul>
            </div>
{% endblock %}

{% block contact_form %}

  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area">
    <div class="container h-100">
      <div class="row h-100 align-items-end">
        <div class="col-12">
          <div class="breadcumb--con">
            <h2 class="title">Contact</h2>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./index.html"><i class="fa fa-home"></i> Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contact</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ***** Contact Area Start ***** -->
  <section class="mona-contact-area">
    <div class="container">
      <div class="row align-items-center justify-content-between">



   <!-- Contact Form powered by Mailgun -->

<div class="col-12 col-lg-6 col-xl-5">
          <div class="mona-contact-form mb-80">
            <div class="contact-heading">
              <br>
              <p>Feel free to submit the form here. It will automatically send an email to my inbox.</p>
            </div>


<form action="/send-email" method="POST">
{% csrf_token %} 
<div class="form-group">
<label for="fullName">Name:</label>
<input type="text" class="form-control" name="name" id="fullName">
</div>
<div class="form-group">
<label for="emailId">Email:</label>
<input type="email" class="form-control" name="email" id="emailId">
</div>
<div class="form-group">
<label for="messageText">Message:</label>
<textarea class="form-control" name="message" rows="8" cols="80" id="messageText"></textarea>
</div>
<button class="btn mona-btn btn-2 mt-15"><i class="icon_mail_alt"></i> Contact Me</button>
</form>


  </div>
</div>
</div>



    </div>
  </section>
  <!-- ***** Contact Area End ***** -->

  {% endblock %}