{% extends 'base.html' %}

{% block title %}
Personal Projects & More
{% endblock %}

{% block content %}
            <div class="classynav">
              <ul id="nav">
                        <li class="current-item"><a href="./index.html">Home</a></li> 
                        <li><a href="./projects.html">Projects</a></li>
                        <li><a href="./blog.html">Blog</a></li>
                        <li><a href="./contact.html">Contact</a></li>      
              </ul>
            </div>
{% endblock %}