{% extends 'base.html' %}

{% block title %}
Personal Projects & More
{% endblock %}

{% block content %}
            <div class="classynav">
              <ul id="nav">
                        <li class="current-item"><a href="./index.html">Home</a></li> 
                        <li><a href="./projects.html">Projects</a></li>
                        <li><a href="./blog.html">Blog</a></li>
                        <li><a href="./contact.html">Contact</a></li>      
              </ul>
            </div>
{% endblock %}

{% block index_content %}

  <!-- ***** Welcome Area Start ***** -->
  <section class="welcome-area">
    <!-- Welcome Slides -->

      <!-- Single Welcome Slide -->
      <div class="single-welcome-slide">
        <!-- Background Curve -->
        <div class="bg-curve" style="background-image: url(static/img/core-img/curve.png);"></div>
        <!-- Main Background Image -->

        <div class="main-bg-img bg-img" data-animation="fadeInUpBig" data-delay="200ms" style="background-image: url(static/img/bg-img/rj-sitting.png);"></div>

        <!-- Welcome Text -->
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <div class="welcome-text">
                <h2 data-animation="bounceInUp" data-delay="400ms">Reuben J.<br>
                  Platon</h2>
                <h5 data-animation="bounceInUp" data-delay="600ms">Product & Growth</h5>
                <a href="#about-us-content" class="btn" data-animation="bounceInUp" data-delay="800ms">Developer Noob</a>
              </div>
            </div>
          </div>
        </div>


    </div>
  </section>
  <!-- ***** Welcome Area End ***** -->

  <!-- ***** About Us Area Start ***** -->
  <section class="mona-about-us-area mb-30 section-padding-80-0">
    <div class="container">
      <div class="row">
        <!-- About Us Content -->
        <div class="col-12 col-lg-4 col-sm-6" id="about-us-content">
          <div class="about-us-content mb-30 wow fadeInUp" data-wow-delay="700ms">
                     <img class="portrait-view" src="static/img/bg-img/reuben-portrait.jpg">
            <h2 class="about-me">About Me</h2>
            <p>Currently a Product Manager by day, learning how to code through the <a href="https://kickstartcoding.org">Kickstart Coding</a> bootcamp. I also consult Startups and SMBs on Growth backed by my experience in Product Management, Marketing & more.</p>
          </div>
        </div>







             <div class="col-12 col-lg-8">
              <div class="container skills-section wow fadeInUp" data-wow-delay="700ms">
              <!-- single skill row -->
              <div class="row">
                <div class="col-sm-3 col-4">
                  <span class="label label-default label-150">HTML</span>
                </div>
                <div class="col">
                  <div class="progress">
                    <div class="progress-bar progress-bar-intermediate" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                      <span class="sr-only">Intermediate at HTML</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end single skill row -->
              <div class="row">
                <div class="col-sm-3 col-4">
                  <span class="label label-default label-150">CSS</span>
                </div>
                <div class="col">
                  <div class="progress">
                    <div class="progress-bar progress-bar-learning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                      <span class="sr-only">Learning CSS</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-3 col-4">
                  <span class="label label-default label-150">Python</span>
                </div>
                <div class="col">
                  <div class="progress">
                    <div class="progress-bar progress-bar-noob" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                      <span class="sr-only">Python noob</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-3 col-4">
                  <span class="label label-default label-150">Django</span>
                </div>
                <div class="col">
                  <div class="progress">
                    <div class="progress-bar progress-bar-noob" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                      <span class="sr-only">Django noob</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-3 col-4">
                  <span class="label label-default label-150">JavaScript</span>
                </div>
                <div class="col">
                  <div class="progress">
                    <div class="progress-bar progress-bar-noob" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                      <span class="sr-only">JavaScript noob</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-3 col-4">
                  <span class="label label-default label-150">React</span>
                </div>
                <div class="col">
                  <div class="progress">
                    <div class="progress-bar progress-bar-noob" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                      <span class="sr-only">React noob</span>
                    </div>
                  </div>
                </div>
              </div>



              <div class="row">
                <div class="col-sm-3 col-4">
                  <span class="label label-default label-150">SEO</span>
                </div>
                <div class="col">
                  <div class="progress">
                    <div class="progress-bar progress-bar-confident" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                      <span class="sr-only">Confident in Search Engine Optimization</span>
                    </div>
                  </div>
                </div>
              </div>

      </div>
    </div>
    </div>

            <!-- About Us  Thumbnail -->


    <!-- Single Service Area -->
    <div class="container">
      <div class="service-area mt-80">
        <div class="row">

          <!-- Single Service Area -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="100ms">
              <a href="./projects.html">
              <i class="icon_key_alt"></i>
              <h5>Projects</h5>
              <p>Check out the stuff I'm working on</p></a>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-sm-6 col-lg-3">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="300ms">

              <input type="hidden" name="cmd" value="_s-xclick" />
              <input type="hidden" name="hosted_button_id" value="H8CZPENXX539C" />
              
              <i class="icon_mug"></i>
              <h5>Buy me a coffee</h5>
              <p> Why not? ❤️</p>
              <input type="submit"  class="mona-btn sml-btn" name="Donate" value="Donate" title="Donate with PayPal button" alt="Donate with PayPal button" />


</form>

            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="500ms">
                  <a href="./blog.html">
              <i class="icon_documents_alt"></i>
              <h5>Read my blog</h5>
              <p>Although, I don't have any posts yet</p></a>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-sm-6 col-lg-3">
            <a href="./contact.html"><div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="700ms">
              <i class="icon_mail_alt"></i>
              <h5>Email me</h5>
              <p>Get in touch through my simple contact form</p></a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- ***** About Us Area End ***** -->

  


  <!-- ***** CTA Area Start ***** -->
  <section class="mona-cta-area section-padding-80 colorful">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="cta-content">
            <h2>Interested in a Growth Consultant?</h2>
            <h6>Expertise in Product, Marketing & Search Engine Optimization for Startups and SMBs</h6>
            <a href="https://www.linkedin.com/in/reubenplaton/" class="btn mona-btn">Connect on LinkedIn</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** CTA Area End ***** -->

 


{% endblock %}